{% extends "base.html" %}
{% block title %}Add Game{% endblock %}

{% block content %}
<main class="profile">
    <h2 style="margin-bottom:24px;">თამაშის დამატება</h2>

    <form method="POST" enctype="multipart/form-data" class="profile__games">
        {{ form.hidden_tag() }}

        <label>თამაშის სახელი
            {{ form.title(class="input", style="margin-top:6px; width:100%;") }}
        </label><br><br>

        <label>კატეგორია
            {{ form.category(class="input", style="margin-top:6px; width:100%;") }}
        </label><br><br>

        <label>აღწერა
            {{ form.description(class="input", style="margin-top:6px; width:100%;") }}
        </label><br><br>
        <label>ყდის სურათი
            {{ form.cover() }}<br><br>
        </label><br><br>

        <label>უკანაფონის სურათი
            {{ form.background_image() }}<br><br>
        </label><br><br>

        <label>ტორენტის ფაილი
            {{form.torrent_file()}}<br><br>
        </label>



        {{ form.submit(class="profile__logout", style="background:var(--clr-primary);") }}
    </form>
</main>
{% endblock %}