{# templates/categories.html #}
{% extends "base.html" %}
{% block title %}Categories{% endblock %}

{% block content %}

<h1 class="categories-text">Categories</h1>

<div class="card-wrapper">
    <div class="card">
        <p onclick="location.href='{{ url_for('main.category_page', slug='rpg') }}'"><span>RPG</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='shooter') }}'"><span>SHOOTER</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='horror') }}'"><span>HORROR</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='action') }}'"><span>ACTION</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='racing') }}'"><span>RACING</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='strategy') }}'"><span>STRATEGY</span></p>
    </div>
</div>

<div class="card-wrapper">
    <div class="card card2">
        <p onclick="location.href='{{ url_for('main.category_page', slug='metroidvania') }}'"><span>METROIDVANIA</span>
        </p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='sports') }}'"><span>SPORTS</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='rogue-like') }}'"><span>ROGUE-LIKE</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='simulation') }}'"><span>SIMULATION</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='sci-fi') }}'"><span>SCI-FI</span></p>
        <p onclick="location.href='{{ url_for('main.category_page', slug='casual') }}'"><span>CASUAL</span></p>
    </div>
</div>

{% if current_user.is_authenticated and current_user.is_admin %}
<a href="{{ url_for('main.add_game') }}" class="add-game-btn" title="Add Game">＋ Add Game</a>
{% endif %}

{% endblock %}