{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<h1 class="categories-text">{{ category.name|upper }}</h1>

<div class="games-grid">
    {% for g in games %}
    <article class="game-card">
        {% if g.cover_image %}
        <img src="{{ url_for('static', filename='covers/' ~ g.cover_image) }}" alt="{{ g.title }}"
            class="game-card__img" loading="lazy">
        {% else %}
        <div class="game-card__placeholder">No Cover</div>
        {% endif %}

        <h3 class="game-card__title">{{ g.title }}</h3>
    </article>
    {% else %}
    <p class="no-games">No games for this category yet.</p>
    {% endfor %}
</div>
{% endblock %}