{%extends "base.html"%}

{% block content %}

<h1 class="categories-text"> Categories </h1>

<div class="card-wrapper">
    <div class="card">
        <p><span>RPG</span></p>
        <p><span>SHOOTER</span></p>
        <p><span>HORROR</span></p>
        <p><span>ACTION</span></p>
        <p><span>RACING</span></p>
        <p><span>STRATEGY</span></p>

    </div>




</div>

<div class="card-wrapper" style="height: 42vh;">
    <div class="card card2">
        <p><span>METROIDVANIA</span></p>
        <p><span>SPORTS</span></p>
        <p><span>ROGUE-LIKE</span></p>
        <p><span>SIMULATION</span></p>
        <p><span>SCI-FI</span></p>
        <p><span>CASUAL</span></p>
    </div>
</div>

{% endblock %}