{% extends "base.html" %}
{% block content %}
<div class="game-detail-container">
    <div class="game-detail-bg"
        style="background-image: url('{{ url_for('static', filename=game.background_image) }}');"></div>
    <div class="game-detail-info">
        <h1 class="game2-title">{{ game.title }}</h1>
        <p class="game-description"> {{ game.description }}</p>
        <p style="color: rgba(82, 99, 109, 0.719); margin-top: 30px; font-size: 17px;" class="game-description">
            Publisher: {{ game.publisher }}</p>
        <p style="color: rgba(76, 89, 97, 0.719); font-size: 17px;" class="game-description">Release date: {{
            game.release_date }}</p>


        <div class="torrent-link-wrapper">
            <a class="torrent-link" href="{{ url_for('static', filename=game.torrent_file) }}" download>⬇ Download
                Torrent</a>
        </div>
    </div>
</div>
{% if current_user.is_authenticated and current_user.is_admin %}
<form action="{{ url_for('main.delete_game', game_id=game.id) }}" method="post" style="margin-top: 30px;">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-danger"
        onclick="return confirm('Are you sure you want to delete this game?');">
        Delete Game (Admin Only)
    </button>
</form>
{% endif %}
{% endblock %}