{%extends "base.html"%}



{% block content %}



<div style="margin-top: 10px;" class="new-added-label manrope-text">
    New Added
</div>

<!-- …inside your .conteiner -->
<div class="slider slider-new">
    <!-- left arrow -->
    <label class="arrow arrow–prev">
        <svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M310.6 233.4c12.5 12.5 12.5 32.8
           0 45.3l-192 192c-12.5 12.5-32.8
           12.5-45.3 0s-12.5-32.8 0-45.3L242.7 
           256 73.4 86.6c-12.5-12.5-12.5-32.8 
           0-45.3s32.8-12.5 45.3 0l192 192z">
            </path>
        </svg>
    </label>

    <div class="NGContainer">
        {% for game in new_games %}
        <div class="game-card" style="background-image: url('{{ url_for('static', filename=game.cover) }}');">
            <div class="game-title">{{ game.title }}</div>
        </div>
        {% endfor %}
    </div>


    <!-- right arrow -->
    <label class="arrow arrow–next">
        <svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M310.6 233.4c12.5 12.5 12.5 32.8
           0 45.3l-192 192c-12.5 12.5-32.8
           12.5-45.3 0s-12.5-32.8 0-45.3L242.7 
           256 73.4 86.6c-12.5-12.5-12.5-32.8 
           0-45.3s32.8-12.5 45.3 0l192 192z">
            </path>
        </svg>
    </label>




</div>
<div class="progress-bar">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

    <span class="dot"></span>

</div>


<div style="margin-top: 50px;" class="new-added-label manrope-text">
    Recommended
</div>


<div class="slider slider-recommended">
    <!-- left arrow -->
    <label class="arrow arrow–prev">
        <svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M310.6 233.4c12.5 12.5 12.5 32.8
           0 45.3l-192 192c-12.5 12.5-32.8
           12.5-45.3 0s-12.5-32.8 0-45.3L242.7 
           256 73.4 86.6c-12.5-12.5-12.5-32.8 
           0-45.3s32.8-12.5 45.3 0l192 192z">
            </path>
        </svg>
    </label>

    <!-- your center container -->
    <div class="NGContainer">
        {% for game in recommended_games %}
        <div class="game-card" style="background-image: url('{{ url_for('static', filename=game.cover) }}');">
            <div class="game-title">{{ game.title }}</div>
        </div>
        {% endfor %}
    </div>

    <!-- right arrow -->
    <label class="arrow arrow–next">
        <svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M310.6 233.4c12.5 12.5 12.5 32.8
           0 45.3l-192 192c-12.5 12.5-32.8
           12.5-45.3 0s-12.5-32.8 0-45.3L242.7 
           256 73.4 86.6c-12.5-12.5-12.5-32.8 
           0-45.3s32.8-12.5 45.3 0l192 192z">
            </path>
        </svg>
    </label>


</div>
<div class="progress-bar">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>


</div>









<h1 style="margin-top: 100px;" class="categories-text"> All Games </h1>
<div class="slider">
    <div class="allgames-container">
        {% for game in all_games %}
        <div class="all-games-card" style="background-image: url('{{ url_for('static', filename=game.cover) }}');">
            <div class="all-games-card-title">{{ game.title }}</div>
        </div>
        {% endfor %}


        <div class="pagination-wrapper">
            <svg class="btn btn--prev" height="96" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z" />
                <path d="M0-.5h24v24H0z" fill="none" />
            </svg>

            <div class="pagination-container">
                <div class="little-dot  little-dot--first"></div>
                <div class="little-dot">
                    <div class="big-dot-container">
                        <div class="big-dot"></div>
                    </div>
                </div>
                <div class="little-dot  little-dot--last"></div>
            </div>

            <svg class="btn btn--next" height="96" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
                <path d="M0-.25h24v24H0z" fill="none" />
            </svg>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}