{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="form-container">
    <form class="form" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="title">რეგისტრაცია</div>

        {# USERNAME #}
        <div class="input-container ic1">
            {{ form.username(class="input", placeholder=" ") }}
            <div class="cut"></div>
            <label class="iLabel" for="{{ form.username.id }}">სახელი</label>
        </div>
        {% if form.username.errors %}
        <small class="error">{{ form.username.errors[0] }}</small>
        {% endif %}

        {# EMAIL #}
        <div class="input-container ic1">
            {{ form.email(class="input", placeholder=" ") }}
            <div class="cut"></div>
            <label class="iLabel" for="{{ form.email.id }}">ემაილი</label>
        </div>
        {% if form.email.errors %}
        <small class="error">{{ form.email.errors[0] }}</small>
        {% endif %}

        {# PASSWORD #}
        <div class="input-container ic1">
            {{ form.password(class="input", placeholder=" ") }}
            <div class="cut"></div>
            <label class="iLabel" for="{{ form.password.id }}">პაროლი</label>
        </div>

        {# CONFIRM #}
        <div class="input-container ic1">
            {{ form.confirm(class="input", placeholder=" ") }}
            <div class="cut"></div>
            <label class="iLabel" for="{{ form.confirm.id }}">დაადასტურე</label>
        </div>
        {% if form.confirm.errors %}
        <small class="error">{{ form.confirm.errors[0] }}</small>
        {% endif %}

        {# BANNER UPLOAD () #}
        <p style="margin-top:20px;">ბანერი (ნებაყოფლობით)</p>
        {{ form.banner() }}

        {{ form.submit(class="submit") }}
    </form>
</div>
{% endblock %}